* {
  box-sizing: border-box;
  color: white;
}

body{
  background-color: #140F0A;
}

p {
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.list-style-disc {
  list-style-type: disc;
}

a {
  text-decoration: none;
}

.object-fit-cover {
  width: 100%;
  object-fit: cover;
}